.menu {
  background-color: bisque;
  height: 300px;
  width: auto;
  display: flex;
  flex-direction: row;
}
body {
  background-color: rgb(241, 248, 142);
}

.menu-buttons {
  text-decoration: none;
  list-style-type: none;
}

.menu-text {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.menu-text:hover {
  text-decoration: none;
  color: rgb(28, 99, 43);
}

.col-3-butEdit {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 19.667%;
}

.col-md-3-butEdit {
  flex: 0 0 auto;
  width: 25%;
}

.imgInGameRules {
}

.menuButGameRules {
  background-color: bisque;
  height: 500px;
  width: auto;
  display: flex;
  flex-direction: row;
}

.brightened:hover {
  filter: brightness(1.4);
}

.menuButtonColor {
  background-color: blanchedalmond;
}

.colorOfFlags {
  background-color: rgb(0, 0, 0);
}

.point {
  display: flex;
  flex-direction: row;
}
