.board {
  position: relative;
  width: 980px;
  height: 980px;
  margin: auto;
}

table {
  position: absolute;
  left: 173px;
  top: 98px;
  border-spacing: 0px;
}
td {
  width: 94px;
  height: 94px;
}

form {
  position: absolute;

  padding: 15px;
  background-color: rgb(83, 175, 19);
}
form input {
  background-color: rgb(152, 207, 113);
  border-color: rgb(83, 175, 19);
  font-size: 1em;
}
.hit {
  background: url("images/game/ship.png") no-repeat center center;
}
.miss {
  background: url("images/game/miss.png") no-repeat center center;
}
