.board {
  position: relative;
  width: 1024px;
  height: 863px;
}

.messageArea {
  position: absolute;
  top: 0px;
  left: 0px;
  color: red;
}

.granie {
  background-color: rgb(220, 252, 254);
}
.granie td {
  border: 2px solid black;
}

.granie td.labelLetter {
  border: 0;
  background-color: rgb(241, 248, 142);
  text-align: right;
  font-size: 28px;
  font-weight: 700;
  padding-right: 20px;
}

.granie td.labelNumber {
  border: 0;
  background-color: rgb(241, 248, 142);
  text-align: center;
  vertical-align: top;
  font-size: 28px;
  font-weight: 700;
  padding-top: 20px;
}

.table {
  position: absolute;

  top: 98px;
  border-spacing: 0px;
}
td {
  width: 120px;
  height: 119px;
}

form {
  bottom: 0px;
  right: 0px;
  padding: 15px;
  background-color: rgb(83, 175, 19);
}
form input {
  background-color: rgb(152, 207, 113);
  border-color: rgb(83, 175, 19);
  font-size: 1em;
}
.hit {
  background: url("images/game/ship.png") no-repeat center center;
}
.miss {
  background: url("images/game/miss.png") no-repeat center center;
}

.message {
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}

.brightened-field:hover {
  background-color: rgb(203, 238, 76);
  cursor: pointer;
}
