.menu {
  background-color: bisque;
  height: 300px;
  width: auto;
}
body {
  background-color: rgb(241, 248, 142);
}

.menu-buttons {
  text-decoration: none;
  list-style-type: none;
}

.menu-text {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.col-3-butEdit {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 19.667%;
}

.imgInGameRules {
}

.menuButGameRules {
  background-color: bisque;
  height: 500px;
  width: auto;
}
